<div class="menuNav">
    
    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Material and Map</a>
        <ul class="nav nav-tabs">
            <li class="nav-item justify-content-center">
                <a routerLink="/materials" class="nav-link">Material</a>
            </li>
            <li class="nav-item justify-content-center">
                <a routerLink="/map" class="nav-link">Map</a>
            </li>
        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

</div>